@{
    var controllerAtual = ViewContext.RouteData.Values["controller"].ToString();
    var actionAtual = ViewContext.RouteData.Values["action"].ToString();

    var menuInicial = controllerAtual == "Home" ? "active" : "";
    var menuUser = controllerAtual == "User" ? (actionAtual == "AcessoRestrito" ? "" : "active") : "";
    var menuCategoria = controllerAtual == "Categoria" ? "active" : "";
    var menuDocumento = controllerAtual == "Documento" ? "active" : "";
    var menuUMedida = controllerAtual == "UMedida" ? "active" : "";
    var menuFornecedor = controllerAtual == "Fornecedor" ? "active" : "";
    var menuNivel = controllerAtual == "Nivel" ? "active" : "";
    var menuProduto = controllerAtual == "Produto" ? "active" : "";
    var menuEstoque = controllerAtual == "Estoque" ? "active" : "";
    var menuRequisicao = controllerAtual == "Requisicao" ? "active" : "";

    var opRequisicao = (actionAtual == "Index" && controllerAtual == "Requisicao") ? "active" : "";
    var opRequisicaoPend = (actionAtual == "Pedido" && controllerAtual == "Requisicao") ? "active" : "";

    var menu = controllerAtual == "Produto" ? "active" : "";

}

<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/estilos.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>ClassHome :: @ViewBag.Subtitulo</title>
</head>

<body style="padding-bottom: 80px" class="mb-3 bg-black">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">ClassHome</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item col">
                            <a class="nav-link @menuInicial" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item col">
                                <a class="nav-link @menuUser" asp-controller="User" asp-action="Index">Utilizadores</a>
                            </li>
                        }    
                </ul>
                <div class="d-flex">
                    <partial name="_LoginLogoutLinkPartial" class="p-2 me-sm-2 m-2 " />
                </div>
               @*  <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form> *@
            </div>
        </div>
    </nav>

    <div class="container mt-2 text-light">
        @RenderBody()
    </div>

    <footer class="border-top fixed-bottom footer text-muted bg-primary">
        <div class="container text-center text-light">
            &copy; @DateTime.Now.Year.ToString() - ClassHome -
            <a class="text-dark" asp-controller="Home" asp-action="Privacidade">Política de Privacidade</a>
        </div>
    </footer>

    <script src="/lib/bootstrap5/dist/js/bootstrap.js"></script>

    @RenderSection("Scripts", false)
</body>

</html>