@{
    ViewBag.Subtitulo = "Página Principal";

    var bkg = "card col mb-3 m-5 bg-secondary";
}
@* <h1 class="text-primary">Envio de E-mails com ASP.NET Core</h1>
    <hr>
    <p>Esta aplicação foi construída para fins didáticos. Ela mostra como <b>enviar e-mails</b> a partir de uma aplicação
    web ASP.NET Core.</p>
    <p><a class="btn btn-primary" asp-action="EnviarEmailTeste">Enviar Email de Teste</a>
*@

<h1 class="text-secondary">Turmas</h1>
<div class="container">
    <div class="row">

@*         <div class="card col bg-secondary outline-primary" style="width: 2vw;">
            <img class="card-img-top" src="~/imagens/img.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="card col" style="width: 2vw;">
            <img class="card-img-top" src="~/imagens/imgw.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="card col" style="width: 2vw;">
            <img class="card-img-top" src="~/imagens/img.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div> *@

        <div class="w-100"></div>

        <div class="@bkg">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="@bkg">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>


        <div class="@bkg">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
            </div>
        </div>

        <div class="w-100"></div>

        <div class="@bkg">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="@bkg">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>


            <div class="@bkg">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
      
    </div>
</div>
