@model IEnumerable<DisciplinaModel>
@inject ClassHomedbContext _context
@inject UserManager<UserModel> _userManager
@{
    var conf = _context.Configs.FirstOrDefault(x => x.Estado == Estado.Ativado);

    var bkg = "card col-3 mb-3 m-4 text-light bg-dark";
    var btnOp = "bg-opacity-30 @conf.Fundo p-1 rounded-circle";

    TurmaModel TurmaRel = ViewBag.TurmaId;

    ViewBag.Subtitulo = "Turma :: " + TurmaRel.NomeCurso;

    var usuarioLog = await _userManager.GetUserAsync(Context.User);
    IEnumerable<ProfessorDisciplinaModel> DCP = ViewBag.ProffInDisciplina;
    IEnumerable<MatriculaModel> ADCP = ViewBag.AlunoInTurma;

}

<header class="d-flex justify-content-between align-items-center mt-4">
    <div class="m-4 mt-0 mb-0">
        <h4 class="@conf.TitleText">@ViewBag.Subtitulo</h4>
    </div>
    <div>
        @if (User.IsInRole("Professor"))
        {
            <div class="float-end mt-0 mb-0 m-4">
                <a asp-action="Criar" asp-route-idTrel="@TurmaRel.TurmaId" class="@conf.BTNin" title="Criar Disciplina">Nova
                    Disciplina
                </a>
            </div>

            <div class="float-end mt-0 mb-0 m-0">
                <a asp-action="AddAluno" asp-route-turmaId="@TurmaRel.TurmaId" class="@conf.BTNin">Adicionar Aluno</a>
            </div>
        }
        <div class="float-end mt-0 mb-0 m-4">
            <a asp-action="Utilizadores" asp-route-turmaId="@TurmaRel.TurmaId" class="@conf.BTNin ">
                Utilizadores
            </a>
        </div>

    </div>
</header>

<partial name="_MensagemPartial"></partial>

<div class="container">
    <div class="row d-flex justify-content-center align-items-stretch mt-3">

        @if (Model.Count() > 0)
        {
            @if (User.IsInRole("Professor"))
            {
                @foreach (var rel in DCP)
                {
                    @foreach (var disciplina in Model)
                    {
                        @if (disciplina.DisciplinaId == rel.DisciplinaId)
                        {
                            @if (rel.ProfessorId == usuarioLog.Id)
                            {
                                <div class="@bkg cartao" Style="@conf.CardStyle">
                                    <div class="pt-3 @conf.CardCab" Style="@conf.CardStyleCab">
                                        <div class="float-start"></div>
                                        <div class="float-end ">

                                            @if (disciplina.CriadorId == usuarioLog.Id)
                                            {
                                                <a asp-action="AddProff" asp-route-id="@disciplina.DisciplinaId" class="@btnOp link-success"
                        title="Adicionar professor à disciplina">
                                                    <i class="bi bi-person-plus-fill"></i>
                                                </a>
                                            }

                                            <a asp-action="Criar" asp-route-idTrel="@TurmaRel.TurmaId" asp-route-id="@disciplina.DisciplinaId"
                        class="@btnOp" title="Editar Disciplina">
                                                <i class="bi bi-pencil"></i>
                                            </a>

                                            @if (disciplina.CriadorId == usuarioLog.Id)
                                            {
                                                <a asp-action="Excluir" asp-route-id="@disciplina.DisciplinaId" class="@btnOp link-danger"
                        title="Excluir Disciplina">
                                                    <i class="bi bi-trash" style="margin-right: 0;"></i>
                                                </a>
                                            }

                                        </div>
                                    </div>
                                    <div class="card-body">

                                        <a asp-controller="Disciplina" asp-route-id="@disciplina.DisciplinaId" asp-action="Index"
                    class="text-decoration-none nomeDT" title="Nome da Disciplina">
                                            <h4 class="card-title @conf.Texto">@disciplina.Nome</h4>
                                        </a>

                                        <p class="card-text @conf.Texto" title="Descrição da Disciplina" style="font-size:70%">@disciplina.Descricao</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            }
            else if (User.IsInRole("Aluno"))
            {
                @foreach (var rel in ADCP)
                {
                    @foreach (var disciplina in Model)
                    {
                        @if (disciplina.DisciplinaId == rel.DisciplinaId)
                        {
                            @if (rel.AlunoId == usuarioLog.Id)
                            {
                                <div class="@bkg cartao" Style="@conf.CardStyle">
                                    <div class="pt-3 @conf.CardCab" Style="@conf.CardStyleCab">
                                        <div class="float-start"></div>
                                        <div class="float-end ">

                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <a asp-controller="Disciplina" asp-route-id="@disciplina.DisciplinaId" asp-action="Index"
                    class="text-decoration-none nomeDT" title="Nome da Disciplina">
                                            <h4 class="card-title @conf.Texto">@disciplina.Nome</h4>
                                        </a>
                                        <p class="card-text" title="Descrição da Disciplina" style="font-size:70%">@disciplina.Descricao</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            }
        }
    </div>
</div>
<style>
    .cartao:hover {
        transform: scale(1.02);
    }
</style>
