@model IEnumerable<UserModel>
@inject UserManager<UserModel> _userManager
@inject ClassHomedbContext _context
@{
    var conf = _context.Configs.FirstOrDefault(x => x.Estado == Estado.Ativado);
    TurmaModel turma = ViewBag.Turma;
    ViewBag.Subtitulo = "Utilizadores em " + turma.NomeCurso;

    IEnumerable<UserModel> Proffs = ViewBag.Professores;
    var usuarioLog = await _userManager.GetUserAsync(Context.User);

    var nameCl ="text-decoration-none text-primary";
}
<header class="d-flex justify-content-between align-items-center mt-4">
    <div>
        <h4>@ViewBag.Subtitulo</h4>
    </div>
    <div>
        
    </div>
</header>

<partial name="_MensagemPartial" />
<div class="p-4">
    <div>
        <h5>Professores</h5>
        @if (Proffs.Count() > 0)
        {
            <table class="@conf.Tabela">
                <thead>
                    <tr>
                        <th class="text-secondary">Nome </th>
                        <th class="text-secondary">Email</th>
                        @if (User.IsInRole("Professor") && turma.CriadorId == usuarioLog.Id)
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Proffs)
                    {
                        var utilizador = Proffs.FirstOrDefault(u => u.Id == user.Id);
                        var role = _userManager.GetRolesAsync(utilizador).Result;

                        <tr>
                            <td><a class="@nameCl"  asp-controller="User" asp-action="perfil"
                            asp-route-id="@user.Id"><b>@user.NomeCompleto</b></a></td>
                            <td>@user.Email</td>

                            @if (User.IsInRole("Professor") && turma.CriadorId == usuarioLog.Id)
                            {
                                <td>
                                    @if (user.Id != usuarioLog.Id)
                                    {
                                        <a asp-action="RemProff" asp-route-idProff="@user.Id" asp-route-idTurm="@turma.TurmaId" class="btn btn-sm btn-danger">
                                            <i class="bi-x-circle" title="Removar da Turma"></i></a>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div>
        <h5>Alunos</h5>
        @if (Model.Count() > 0)
        {
            <table class="@conf.Tabela">
                <thead>
                    <tr>
                        <th class="text-secondary">Nome </th>
                        <th class="text-secondary">Idade</th>
                        <th class="text-secondary">Email</th>
                        
                        @if (User.IsInRole("Professor"))
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var USE in Model)
                    {
                        <tr>
                            <td><a class="@nameCl"  asp-controller="User" asp-action="perfil"
                            asp-route-id="@USE.Id"><b>@USE.NomeCompleto</b></a></td>
                            <td>@USE.Idade</td>
                            <td>@USE.Email</td>
                            

                            @if (User.IsInRole("Professor") && turma.CriadorId == usuarioLog.Id)
                            {
                                <td>
                                    <a asp-action="RemAluno" asp-route-idAluno="@USE.Id" asp-route-idTurm="@turma.TurmaId" class="btn btn-sm btn-danger">
                                        <i class="bi-x-circle" title="Removar da Turma"></i></a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Não há nenhum aluno na turma.</p>
        }
    </div>
</div>

<a asp-action="Index" asp-route-id="@turma.TurmaId" class="p-3   @conf.BTNin float-end rounded-circle text-decoration-none link-white">
    <i class="bi bi-arrow-left"></i>Voltar
</a>