@model IEnumerable<DisciplinaModel>
@{

    var bkg = "card col-3 mb-3 m-5 text-light bg-dark";
    
    TurmaModel TurmaRel = ViewBag.TurmaId;

    ViewBag.Subtitulo = TurmaRel.NomeCurso;

}

<div class="row mt-5">
    <div class="col-11">
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div class="col m-2 mt-4">
        <a asp-action="Criar" asp-route-idTrel="@TurmaRel.TurmaId" class="w-50 h-50" title="Criar Disciplina">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </a>
    </div> 
</div>

<partial name="_MensagemPartial"></partial>

<div class="container">
    <div class="row">

        @if (Model.Count() > 0)
        {
            @foreach (var disciplina in Model)
            {
                <div class="@bkg">
                    <div class="card-header pt-3">
                        <div class="float-start"></div>
                        <div class="float-end ">
                            <a asp-action="Criar" asp-route-id="@disciplina.DisciplinaId" class="editar link-secondary" title="Editar Disciplina" ><i class="bi bi-pencil"></i></a>
                            <a asp-action="Excluir" asp-route-id="@disciplina.DisciplinaId" class="apagar link-danger" title="Excluir Disciplina"><i class="bi bi-trash" style="margin-right: 0; margin-left: 0.5vw;"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <a asp-controller="DInner" asp-route-id="@disciplina.DisciplinaId" asp-action="Index"
                    class="text-decoration-none nomeDT" title="Nome da Disciplina">
                            <h4 class="card-title text-light">@disciplina.Nome</h4>
                        </a>
                        <p class="card-text" title="Descrição da Disciplina">@disciplina.Descricao</p>
                    </div>
                </div>            
            }
        }
    </div>
</div>
